<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pre-Entrega 03</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'new' %}">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'destino' %}">Destino</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'destino' %}">Paises</a>
              </li>                    
          </ul>
          <div class="d-flex text-white">
           <span>Alumno: Sergio Rivera R.</span>
          </div>
        </div>
      </div>
</nav>
