{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block contenidoPrincipal %}


<div class="row">
    <div class="col-3">
        <form action="/your-name/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control"  id="exampleFormControlInput1" placeholder="name@example.com"></input>
              </div>
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock %} 