{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet" />
  </head>
  <body>
    {% include "AppCoder/layout/header.html" %}    
    {% block contenidoPrincipal %} 
        
    <div class="row"> 
      <div class="col-10 mx-auto">
             <h1>SISTEMA DE VIAJES</h1> 
      </div>
    </div>    
    {% endblock %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}"></script>
  </body>
</html>
